h1, p {
  font-family: Lato;
}

.base {
  width:300px;
  margin: 50px auto;  
  border: 1px solid;
}

.calcTable {
  display: block;
  width: 280px; 
  height: 270px;
}

.calcResult {
  font-family: 'Trebuchet MS';
  font-size: large;
  font-weight: bold;
  text-align: right;
  border: solid;
  background-color: skyblue;
  height: 75px;
}

.calcRow {
  display: table-row;
}

.calcCell {
  display: table-cell;
}

button {
  width: 75px;
  height: 67.5px;
}
