h1, p {
  font-family: Lato;
}

.base {
  width:300px;
  margin: 50px auto;  
}

.calcTable {
  display: block;
  width: 280px; 
  height: 270px;
}

.calcResult {
  display:block;
  font-family: Verdana;
  height:75px;
  width: 300px;
  margin: 10px auto;
  text-align: right;
  background-color: rgb(59, 108, 180);
  color:#fff;
  padding-top:50px;
  font-size:30px;
  overflow: hidden;
  letter-spacing: 4px;
  position: relative;
  top:10px;
}

.calcRow {
  display: block;
}

.calcCell {
  display: table-cell;
}

button {
  width: 75px;
  height: 67.5px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: medium;
  font-weight: bolder;
  cursor: pointer;
}

.buttonLarge {
  width: 150px;
  height: 67.5px;
}

.buttonRed{
  background-color: red;
  color: white;
}

.buttonOrange{
  background-color: orange;
  color: white;
  font-style: italic;
}

.buttonBlue{
  background-color: skyblue;
  color: darkblue
}


